{% extends "base.html" %}
{% block title %}Lupa Password - Telkomedika{% endblock %}

{% block content %}
<div class="flex-grow flex items-center justify-center py-30 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-gray-100 p-10 rounded-[2rem] shadow-sm text-center">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Lupa Password?</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Masukkan email Anda untuk menerima kode reset password.
            </p>
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="p-3 rounded-lg text-sm bg-red-100 text-red-700 mb-4">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form class="mt-8 space-y-6" action="{{ url_for('auth.forgot_password') }}" method="POST">
            <div>
                <label for="email-address" class="sr-only">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required 
                    class="appearance-none rounded-full relative block w-full px-6 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-tm-red focus:border-tm-red focus:z-10 sm:text-sm" 
                    placeholder="Masukkan Email Terdaftar">
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-full text-white bg-tm-red hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tm-red transition">
                    Kirim Kode OTP
                </button>
            </div>
            
            <div class="text-sm">
                <a href="{{ url_for('auth.login_pasien') }}" class="font-medium text-gray-600 hover:text-tm-red">
                    Kembali ke Login
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}